body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/*    Navigation    */

#nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

#nav a {
    color: #262626;
    font-size: 16px;
}

#nav a:hover {
    text-decoration: underline;

}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    padding-left: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    padding-right: 20px;
    align-items: center;
}

.nav-right img {
    opacity: 0.6;
}

.nav-right img:hover {
    opacity: 1;
}

.nav-right button {
    color: white;
    background: dodgerblue;
    margin-right: 20px;
    padding: 6px 13px;
    border-style: none;
    border-radius: 3px;
}

/*      Main        */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    padding-top: 140px;
}

/*      Search Bar      */

.search-bar {
    width: 590px;
    height: 45px;
    border: .5px solid #fff;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,0.08)
}

.search-bar:hover {
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,0.08) 
}

.search-bar input {
    height: 90%;
    width: 90%;
    border-style: none;
    display: flex;
    align-self: center;
    margin-left: 10px;
}

.search-bar a {
    display: flex;
    align-self: center;
    margin-right: 10px;
}

/*      Search Buttons      */

.search-buttons button{
    margin-top: 25px;
    border-style: none;
    padding: 10px 15px;
    margin: 5px;
    color: #737373;
    background: #f2f2f2;
    font-weight: bold;
}

.search-buttons button:hover {
    color: #000;
    border: 1px solid #b3b3b3;
}

/*      Footer      */
#footernav {
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 45px;
    background: lightgray;
    width: 100%;
}

#footernav a {
    color: #262626;
    font-size: 16px;
}

#footernav a:hover {
    text-decoration: underline;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left a {
    padding-left: 20px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    padding-right: 20px;
}