body {
    margin: 0;
    background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: none;
}

.main_nav_left .main_nav_right ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.main_nav_left li {
    float: left;
}

.main_nav_right li{
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: lightblue;
}

.sign-in {
    float: right;
    background: blue;
    padding: 8px;
}

.searchbuttons {
    align-content: center;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}

.searchbar {
     
}

li {
    display: inline;
}

.footernav li{
    float: left;
}

.footernav ul {
    position: fixed;
    bottom: 0;
    width: 100%;
}